apps/example-app/client/node_modules
apps/example-app/server/node_modules
node_modules

.env

apps/example-app/client/npm-debug.log
apps/example-app/server/npm-debug.log


Dockerfile*
docker-compose.yml

apps/example-app/client/dist
apps/example-app/server/dist
apps/example-app/client/build
apps/example-app/server/build


*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db