services:
  client:
    build:
      context: ./apps/example-app/client
      dockerfile: Dockerfile.client
    ports:
      - "2000:2000"
    volumes:
      - /c/Users/New/Desktop/docker-monorepo-boilerplate/apps/example-app/client:/example-app/client
      - node_modules_client:/example-app/client/node_modules
    environment:
      - NODE_ENV=development

  server:
    build:
      context: ./apps/example-app/server
      dockerfile: Dockerfile.server
    ports:
      - "9000:9000"
    volumes:
      - /c/Users/New/Desktop/Docker-monorepo-boilerplate/apps/example-app/server:/example-app/server
      - node_modules_server:/example-app/server/node_modules
    environment:
      - NODE_ENV=development
      - PORT=9000

volumes:
  node_modules_client:
  node_modules_server:
